<a href="https://colab.research.google.com/github/Guilhermerodri2/atividade3/blob/main/C%C3%B3pia_de_trabalho.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Computação para Engenharia / Trabalho N1

Aluno: Ana Carolina Carreiro Magalhães

Aluno: Rafael Lima Hufnagel Baltar Terra

Aluno: Fernando Guilherme Rodrigues Alves da Silva

Questão 1

Resposta: Letra D

In [ ]:
A = 10; B = 5; C = 4; D = 3

e1 = (True and True) or (False and True)
e2= 2 * D - C % B * C / D
e3= (A > 9) and (B + C > 14)
e4 = 1//D*D
e5= 1.0/ D*D

print(e1)
print(e2)
print(e3)
print(e4)
print(e5)

True
0.666666666666667
False
0
1.0

Questão 2:

In [ ]:
import numpy as np

M= np.chararray((4, 4))
M= [['O' , 'Q' , '*' , '1'], 
     ['E' , '*' , 'E', 'S'],
     ['R',  'E', 'U', 'T'],
     ['A', '*' , '*', 'S']]

for i in range(4):
  for j in range(i+1,4):
    aux = M [i][j] 
    M[i][j] = M[j][i] 
    M[j][i] = aux

aux = M[0] [0]
M[0][0] = M[3][3]
M[3][3] = aux 
aux = M[1][1]
M[1][1] = M[2][2]
M[2][2] = aux

print(M)

[['S', 'E', 'R', 'A'], ['Q', 'U', 'E', '*'], ['*', 'E', '*', '*'], ['1', 'S', 'T', 'O']]

Questão 3:

Resposta: Letra E

Questão 4:

Resposta: Letra A

In [ ]:
# Inicialização das variáveis
A = 1
B = int(input("Digite o valor de B: "))
C = 1
D = 0
E = 0
F = 1

# Loop principal
while A != B:
    print(F)
    D = F
    F = F + E
    E = D
    D = F * F
    C = C + D
    A = A + 1

Digite o valor de B: 7
1
1
2
3
5
8

Questão 5

Resposta: Letra A

Questão 6

Rsposta: Letra C

In [ ]:
print("Entre com o 1º tempo em hora, minuto e segundo no seguinte formato HH:MM:SS no formato 24h")
h1,m1,s1 = map(int, input().split(sep=':'))

print("Entre com o 2º tempo em hora, minuto e segundo no seguinte formato HH:MM:SS no formato 24h")
h2,m2,s2 = map(int, input().split(sep=':'))

t1 = h1 * 3600 + m1 * 60 + s1
t2 = h2 * 3600 + m2 * 60 + s2

if t1 > t2:
    print("t1 é maior")
else:
    if t2 > t1:
        print("t2 é maior")
    else:
        print("t1 = t2")

Entre com o 1º tempo em hora, minuto e segundo no seguinte formato HH:MM:SS no formato 24h
16:52:05
Entre com o 2º tempo em hora, minuto e segundo no seguinte formato HH:MM:SS no formato 24h
18:26:08
t2 é maior

Questão 7

Resposta: Letra B

Questão 8

Resposta: Letra D

Questão 9

In [ ]:
# Leitura dos valores
v = []
for i in range(1, 6):
    valor = int(input(f"Digite o valor {i}: "))
    v.append(valor)

# Ordenação dos valores em ordem crescente
for i in range(1, 5):
    for j in range(0, 4):
        if v[j] > v[j+1]:
            temp = v[j]
            v[j] = v[j+1]
            v[j+1] = temp

# Impressão dos valores em ordem crescente
for i in range(1, 6):
    print(v[i-1], end=" ")

Digite o valor 1: 9
Digite o valor 2: 6
Digite o valor 3: 2
Digite o valor 4: 5
Digite o valor 5: 1
1 2 5 6 9

Questão 10

Resposta: (A) Algoritmo 
          (B) Paradigma Imperativo
          (C) Orientação e Objeto
          (D) Paradigma em lógica
          (E) Paradigma Funcional